:root {
    /* Color */
    --green-color: #00C850;
    --white-color: #FFFFFF;
    --gery-very-light-color: #DADADA;
    --grey-light-color: #9CA2A4;
    --grey-color: #F5F6F7;
    --grey-dark-color: #948E8E;
    --black-color: #000000;
}

.container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

table {
    text-align: center;
    margin: 15px 0;
}

button {
    background-color: var(--green-color);
    color:  var(--white-color);
    font-weight: bold;
    font-size: 13pt;
    border: none;
    margin-top: 5px;
    border-radius: 10px;
    height: 30pt;
    width: 100px;

}

button:hover {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: space-around;
}

.title {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

#input {
    height: 30pt;
    flex-basis: 60%;
    border: solid 1px var(--grey-light-color);
    border-radius: 10px;
    font-size: 16pt;
    text-align: center;
}

#check {
    flex-basis: 20%;
}

button:focus,
input:focus {
    outline: none;
}

.number {
    font-weight: bold;
}

.strike {
    color: var(--green-color);
}

.ball {
    color: var(--black-color);
}

.out {
    color: red;
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    color: royalblue;
}